@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-white font-sans antialiased;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .transition-default {
    @apply transition-all duration-150 ease-out;
  }
}
